---
import BaseHead from '../components/BaseHead.astro';
import FallbackImage from '../assets/Logo-small.png';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/home-style.css';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const image = FallbackImage;

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4); // get only the latest 3

const base = import.meta.env.BASE_URL;

const reviewPosts = posts
  .filter(post => post.data.tags?.includes('review'))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  .slice(0, 5);

const newsPosts = posts
  .filter(post => (post.data.tags?.includes('stire') || post.data.tags?.includes('eveniment')) || (post.data.tags?.includes('stire') && post.data.tags?.includes('eveniment')))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  .slice(0, 5);

const siteImage = new URL('/src/assets/Logo-small.png', import.meta.url);
---

<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Fotograma.ro" />
  <meta property="og:description" content="Pasiunea pentru fotografie, in cuvinte. News outlet-ul NR. 1 din Romania pentru fotografie." />
  <meta property="og:image" content={new URL(image.src, Astro.url)} />
  <title>Articole - Fotograma.ro</title>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
   {import.meta.env.MODE === "production" && (
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8M4LXLS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>)}
  <!-- End Google Tag Manager (noscript) -->
  <Header />
  <main1>
    <div class="centerer">
	
	  <section class="latest-articles">
    <div class="section-cta">
		  <h2>Cele mai noi articole</h2>
      <a class="cta" href={`/blog`}>Mai multe</a>
    </div>
		<div class="latest-articles-box">		
			<ul class="post-grid">
				{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.id}`}>
						{post.data.heroImage && (
						<Image width={480} height={120} src={post.data.heroImage} alt="" />
						)}
						<h5>{post.data.title}</h5>
						<p class="date">
						<FormattedDate date={post.data.pubDate} />
						</p>
					</a>
					</li>
				))
				}
			</ul>
		</div>
		</section>

      <section class="reviews-news">
        <div class="revnew-container">
          <div class="reviews">
            <h3>Review-urile noastre</h3>
            <div class="review-grid">
              {reviewPosts.map(post => (
                <a href={`/blog/${post.id}`} class="review-link">
                <article class="review-card">
                  {post.data.reviewImage && (
                    <Image width={240} height={60} src={post.data.reviewImage} alt="" />
                  )}
                  <h3>{post.data.reviewTitle}</h3>
                </article>
                </a>
              ))}
            </div>
          </div>
          <div class="revnew-cta-box">
            <a class="cta-revnew" href={`/review`}>Vezi toate review-urile</a>
          </div>
        </div>
        <div class="revnew-container">
          <div class="news">
            <h3>Stiri si evenimente</h3>
            <div class="news-grid">
              {newsPosts.map(post => (
                <article class="news-card">
                  <a href={`/blog/${post.id}`} class="news-link">
                    {post.data.heroImage && (
                      <Image width={480} height={120} src={post.data.heroImage} alt="" />
                    )}
                  </a>
                  <div class="tag-title">
                    <div class="tag-container">
                      {post.data.tags?.map(tag => (
                        <a href={`/tags/${tag.toLowerCase()}`} class="tag">{tag}</a>
                      ))}
                    </div>
                    <a href={`/blog/${post.id}`} class="news-link">
                      <h3>{post.data.title}</h3>
                    </a>
                  </div>
                </article>
              ))}
            </div>
          </div>
          <div class="revnew-cta-box">
            <a class="cta-revnew" href={`/tags/stire`}>Vezi toate stirile</a>
          </div>
        </div>
      </section>

      <section class="editors-pick">
        <h2><em>Editor’s pick</em></h2>
        <div class="pick-grid">
          <a href={`/gallery/r7.jpg`} class="pick-card">
            <img src={`/gallery/r7.jpg`} alt="Editor’s pick 1" class="pick-img" />
          </a>
          <a href={`/gallery/Logo.png`} class="pick-card">
            <img src={`/gallery/Logo.png`} alt="Editor’s pick 2" class="pick-img" />
          </a>
          <a href={`/gallery/VoicuAndrei.JPG`} class="pick-card">
            <img src={`/gallery/VoicuAndrei.JPG`} alt="Editor’s pick 3" class="pick-img" />
          </a>
        </div>
      </section>
    </div>
  </main1>
  <Footer />
</body>
</html>